<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="#" class="navbar-brand">Facilito Store</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggler="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb" class="navbar-collapse collapse hide">

        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="#" class="nav-link">
                    <span class="fas fa-user"></span>
                    Login</a>
            </li>

            <li class="navbar-item">
                <a href="#" class="nav-link">
                    <span class="fas fa-user"></span>
                    Registro</a>
            </li>

            <li class="navbar-item">
                <a href="#" class="nav-link">
                    <span class="fas fa-sign-in-alt"></span>
                    Logout</a>
            </li>
        </ul>

    </div>

</nav>